<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swiftkaytech.findme" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/redf"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Light"  >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.LOGINPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Registration"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.REGISTRATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BasicInfo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.BASICINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainLineUp"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:logo="@drawable/redfsmall">
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.MAINLINEUP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UpdateStatus"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.UPDATESTATUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".services.UploadService"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.UPLOADSERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Match"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.MATCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.Commentsfrag"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.COMMENTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.FriendsFrag"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.FRIENDS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyMatches"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.MYMATCHES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
        android:name=".fragment.MessagesFrag"
        android:label="@string/app_name"
        android:configChanges="orientation">
        <intent-filter>
            <action android:name="com.swiftkaytech.findme.MESSAGESINLINE" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>
        <activity
            android:name=".activity.Profile"
            android:label="@string/app_name"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="com.swiftkaytech.findme.PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".utils.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.swiftkaytech.findme" />
            </intent-filter>
        </receiver>

        <service android:name=".gcm.GcmIntentService" />
    </application>

</manifest>
